@font-face {
    font-family: "Rubik Bubbles";
    src: url(/Fonts/Rubik_Bubbles/RubikBubbles-Regular.ttf) format(truetype);
}

@font-face {
    font-family: "Courgette";
    src: url(/Fonts/Courgette/Courgette-Regular.ttf) format(truetype);
}

.logo {
    font-family: "Rubik Bubbles", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
}

body {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100%;
    max-width: 100%;
    margin: 0px;
    background-color: #FFF9EF;
}


header {
    background-color: #fff;
    color: #573F2A;
}

header a {
    color: #573F2A;
    padding: 10px;
    justify-content: space-evenly;
}

footer {
    background-color: #EBDAB7;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/*Header*/

nav ul {
    padding: 0px;
}

nav li {
    display: inline-block;
}

nav {
    margin-left: 25px;
    top: 45px;
    background: #fff;
    z-index: 1000px;
    right: 0px;
}

header {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.active {
    text-decoration: underline;
}

/*Home Page*/

.container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 20px;
    grid-gap: 10px;
    text-transform: uppercase;
}

.container img {
    grid-template-columns: 1fr auto;
    grid-column: -1/1;
}

.quality-pic {
    height: 600px;
}

.coffeeshops-homepic {
    height: 197px;
}

.weekly-pic {
    height: 600px;
    width: 500px;

}

.quality-content h1,
.coffeeshops-home h2,
.weekly h3 {
    grid-column: 1;
    font-size: 1.5rem;
    margin: 10px;
    text-align: center;
}

.order {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    background-color: #FDD8AF;
    padding: 5px;
    margin: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

.products {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
    grid-gap: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 60px;
}

.products img {
    grid-template-columns: 1fr auto;
    grid-column: -1/1;
    height: 400px;
    align-items: center;
}

/*About Page*/

.quote {
    text-align: center;
    font-family: "Courgette", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    padding: 20px;
    margin-top: 30px;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1000vh;
    grid-gap: 50px;
    margin-top: 5px;
    margin-bottom: 40px;
    margin-left: 60px;
}

.content-start {
    background-color: #fff;
    width: 400px;
    text-align: center;
}

.content-start p {
    font-size: 1.5rem;
}

.content-goals {
    background-color: #EBDAB7;
    width: 400px;
    text-align: center;
}

.content-goals p {
    font-size: 1.5rem;
}

.content-pic {
    width: 400px;
}

.content h1,
.content h2 {
    text-transform: uppercase;
    font-size: 2rem;
}

/*Contact Page*/

.contact-content {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1000px;
    margin: 20px auto;
    grid-gap: 10%;
}

input {
    border: 1px solid black;
    margin: 0px 20px 20px 0px;
    height: 30px;
    width: 300px;
}

.form-wrapper input,
.form-wrapper label {
    display: block;
}

textarea {
    height: 100px;
    width: 600px;
    border: 1px solid black;
}

.contact {
    max-width: 1000px;
    margin: 50px auto;
}

.form-wrappertwo input,
.form-wrappertwo label {
    display: block;
}

.cta {
    margin-top: 20px;
    margin-bottom: 20%;
    text-transform: uppercase;
    border: 2px solid;
}

.contact-content h1 {
    text-transform: uppercase;
    font-size: 2rem;
}

.contact-text {
    font-size: 1rem;
    width: 800px;
    margin-top: 37%;
}



/*Coffeeshops Page*/

.coffeeshops {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 20px;
    margin-bottom: 5%;
    grid-gap: 10px;
}

.coffeeshops img {
    grid-template-columns: 1fr auto;
    grid-column: -1/1;
    height: 400px;
    width: 450px;
    margin-bottom: 10px;
}

.coffeeshopsh1 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.coffeeshops h2,
.coffeeshops h3,
.coffeeshops h4 {
    grid-column: 1;
    font-size: 1.5rem;
    margin: 10px;
    text-align: center;
}

.cta-button {
    grid-column: 1;
    border-bottom: 1px solid black;
    padding: 0px 0px;
    font-size: 1rem;
    margin-left: 10px;
    color: black;
}

/*location page */

.location {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    max-width: 1000px;
    grid-gap: 0%;
    margin-left: 10%;
}

.location img {
    grid-template-columns: 1fr auto;
    grid-column: -1/1;
    height: 400px;
    margin-bottom: 32%;
}

.location h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 10%;
    margin-top: 40px;
}

.location-two {
    height: 300px;
    margin-top: 30%;
    text-align: left;
}


/* responsiveness */

@media screen and (min-width:600px) {

    .container,
    .products,
    .content,
    .coffeeshops {
        grid-template-columns: 1fr;
    }
}

.contact-content {
    grid-template-columns: 1fr;
    grid-gap: 0%;
}




@media screen and (min-width: 800px) {

    .container,
    .products,
    .content,
    .coffeeshops {
        grid-template-columns: repeat(3, 0fr);
    }
}

.contact-content {
    grid-template-columns: repeat(2, 0fr);
    grid-gap: 10%;
}